

html {
  font-family: helvetica;
  text-align: center;

}

/*body {
  background-image: url("../resources/images/the-flatiron-building.png");
}*/

.Header {
background-image: url("../resources/images/the-flatiron-building.png");
background-repeat: no-repeat;
background-size: cover;
font-size: 18px;
color: white;
text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;

}

h3 {
font-size: 23px;

}

a {
  color: white;
}

h3.NewYork {
  background-image: url("../resources/images/the-flatiron-building.png");
  color: white;
}

p {
  font-size: 14px;
}

div {
background-color: dimgray;
color: white;
text-align: left;
font-size: 11px;
}

.copywrite {
  font-size: 11px;
}

.navigation {
  font-size: 18px;
}
